<h2 mat-dialog-title>Filter</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Field</mat-label>
        <mat-select [(ngModel)]="filter">
            <mat-option value="_">None</mat-option>
            <mat-option *ngFor="let columnDef of data.columnDefs" [value]="columnDef.field">
                {{columnDef.headerName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="">Cancel</button>
        <button mat-button [mat-dialog-close]="filter">Save</button>
    </mat-dialog-actions>
</mat-dialog-content>